/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  background: linear-gradient(#ffffff, #c0c0c0);
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

nav {
  align-items: center;
  justify-content: space-evenly;
  background-color: #333333;
  color: #c0c0c0;
  font-size: 20px;
  display: flex;
  height: 80px;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: skyblue;
  text-decoration: underline;
}
main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
