* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  background-image: url('https://static.vecteezy.com/system/resources/previews/000/129/108/non_2x/trivia-papper-background-illustration-vector.jpg');
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

h1 {
  display: flex;
  align-items: center;
}

.trivia {
  background-color: #ffcccb;
  margin: 1rem 5rem;
  padding: 0.5rem 2.5rem;
  border: 2px solid black;
  box-shadow: 0.2rem 0.3rem 0.5rem black;
  border-radius: 2.5rem;
}
.questions-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#category .btn {
  font-size: 1.5rem;
  padding: 1rem;
  margin: 0.5rem;
  box-shadow: 2px 2px 2px black;
}

#category {
  display: flex;
  align-items: center;
}
.question {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.choice {
  margin: 0.5rem;
  background-color: #f79b9b;
  height: 8vh;
  width: 50vw;
}

#choice-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.choice:hover {
  background-color: #dc3545;
  color: white;
}
nav {
  align-items: center;
  justify-content: space-evenly;
  background-color: #333333;
  color: #c0c0c0;
  font-size: 20px;
  display: flex;
  height: 80px;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: skyblue;
  text-decoration: underline;
}
main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  height: 200px;
  width: 200px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px black;
  margin: 20px;
}

#delete {
  background-color: orange;
  font-size: 18px;
  box-shadow: 1px 1px 1px 1px black;
  color: black;
  display: flex;
  align-items: flex-start;
}

button {
  margin: 5px;
  border: 2px solid black;
  height: 20vh;
  width: 20vw;
}

/* #allRobots {
  display: inline-block;
} */
